
body {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQIWwFXAKj/AYmwuP8gEREAGQwIABYSDgAHBgkA+/8DAOj19QABbKS0/xMHBQAWCgUAJxoWABgOCQD9/wUA6Pj+AAFmpbT/CwUCAAkAAgAdDAgALyAYAAQECgDd6/UAGhYXLA7XUU8AAAAASUVORK5CYII=");
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
}

h2, h3, h2 > span {
    font-family: "Fugaz One" !important;
}

span, div {
    font-family: "Monda",sans-serif !important;
}

.inlined-block {
    display: inline-block !important;
}

.no-clear {
    clear: none !important;
}

.logo-block {
    background: rgba(0, 0, 0, 0) url("../images/TR16_banneri.png") no-repeat scroll center top;
    height: 20%;
    min-height: 250px;
    max-width: 1024px;
    width: 1024px;
    margin: 1% auto;
}

.main {
    max-width: 1024px;
    width: 1024px;
    margin: 4% auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    box-shadow: 10px 10px 23px -4px rgba(0, 0, 0, 0.17);
    background-color: white;
}

/**
Modals
**/

.modal-large {
    width: 80% !important;
}

.admin-section {
    width: 30%;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    background-color: #F5F5FF;
    border: 2px solid #D6D6FF;
    border-radius: 0.8em;
    font-size: 1.5em;
    margin: 1%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    .inlined-block
}

.admin-section:hover {
    cursor: pointer;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.event-cabin-list-container {
    vertical-align: top;
    width: 80%;
    margin: 0 auto;
}

.event-cabin-list-available {
    vertical-align: top;
    width: 50%;
    .inlined-block
}

.event-cabin-list-selected {
    vertical-align: top;
    width: 50%;
    .inlined-block
}

.event-cabin-list-item {
    width: 50%;
    transition: 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

.event-selected-cabins {
     display: table-row;
     &-inputs {
        display: table-cell;
        width: 80%;
        vertical-align: top;
     }
     &-delete {
        display: table-cell;
        vertical-align: top;
     }
}

.event-cabin-list-selected-item-column {
     display: table-cell;
     vertical-align: top;
     line-height: 20px;
}

.list-form {
    margin-right: 10px;
    .inlined-block
}

.alerts {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 10;
}

.card {
    height: 150px;
    width: 30%;
    margin: 3%;
    &:hover {
        cursor: pointer;
    }
    @card-padding: 5px;
    @card-width: 100%;
    @card-height: 100%;
    &-header {
        padding: @card-padding;
        width: @card-width;
        height: @card-height / 3;
        justify-content: center;
        align-items: center;
        border: 1px solid #3D3FAE;
        border-radius: 5px;
        display: flex;
        background-color:#3a87ad;
        color: white;
        line-height: 20px;
        vertical-align: middle;
        font-size: 1.2em;
        box-shadow: 3px 5px 1em black;
        margin-bottom: 2px;
    }
    &-body {
        padding: @card-padding;
        width: @card-width;
        height: @card-height * (2/3);
        border: 2px solid #C2C2DE;
        border-radius: 5px;
        display: flex;
        background-color: rgb(217, 237, 247);
        box-shadow: 3px 5px 1em black;
        > ul {
            list-style: none;
            padding-left: 10px;
        }
    }
    &-disabled {
        background-color: lightgrey;
        color: grey;
        pointer-events: none;
        opacity: 0.4;
    }
}

.disabled-cabin {
    cursor: not-allowed !important;
    color: red;

    > label {
        text-decoration: line-through !important;
    }
}

.loading {
     width:20%;
     height:200px;
     margin:10% auto;
     z-index: 111;
     background: url("/assets/images/ajax-loader.gif") no-repeat center #D7D3D3;
     opacity:1;
     border: 1px solid #a9a9a9;
     border-radius: 5px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
