@(message: String, cabins: List[Cabin], cabinForm: Form[Cabin])(implicit flash: Flash)

@import helper._
@import views.FieldHelpers._

@main("Welcome to Play") {
        @if(cabinForm.hasGlobalErrors) {
            <ul>
                @for(error <- cabinForm.globalErrors) {
                    <li>@error.message</li>
                }
            </ul>
        }

        <h1>Crete new cabin</h1>
        <div>
        </div>
        @form(action = routes.Application.createCabin, 'class -> "form-horizontal") {
            @inputText(cabinForm("name"), 'id -> "nameField", 'name -> "Name")
            @inputText(cabinForm("description"), 'id -> "descriptionField")
            @inputText(cabinForm("capacity"), 'id -> "capacityField")
            @inputText(cabinForm("price"), 'id -> "priceField")
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Save cabin!" class="btn btn-success"/>
                </div>
            </div>
        }

            @if(cabins.isEmpty) {
                <p>There are no cabins to show!</p>
            } else {
                <table class="table table-striped" style="width:50%">
                    <tr>
                        <td>Nimi</td>
                        <td>Kuvaus</td>
                        <td>Koko</td>
                        <td>Hinta</td>
                        <td></td>
                        <td></td>
                    </tr>
                    @for(cabin <- cabins) {
                        <tr>
                            <td>@cabin.name</td>
                            <td>@cabin.description</td>
                            <td>@cabin.capacity</td>
                            <td>@cabin.price</td>
                            <td>
                                @form(action = routes.Application.deleteCabin(Cabin.getIdValue(cabin.id))) {
                                <input type="submit" value="Delete" class="btn btn-danger">
                                }
                            </td>
                            <td>
                                @form(action = routes.Application.editCabin(Cabin.getIdValue(cabin.id))) {
                                <input type="submit" value="Edit" class="btn btn-default">
                                }
                            </td>
                        </tr>
                        }
                    </table>
                }

}
