@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>37 - Agi Si Quid Agis</title>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fugaz+One|Oleo+Script|Monda">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/37_logo.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <!--<script src="@routes.Assets.at("bundle.js")"></script>-->
        <!--<script data-main="@routes.Assets.at("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script> -->
    </head>
    <body>
        <div id="container" class="container">
            @content
        </div>
        <script src="@routes.Assets.at("bundle.js")"></script>-
    </body>
</html>
